body {
  background: #0F0906;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Creepster', sans-serif;
  font-family: 'Vollkorn', serif;
}

h1 {
  font-family: 'Creepster', sans-serif;
  font-weight: 700;
  font-size: 90px;
  color: #9b1c17;
}

h2 {
  font-family: 'Creepster', sans-serif;
  font-weight: 300;
  font-size: 60px;
  color: #DFFF00;
}

h3 {
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  font-size: 40px;
  font-weight: bold;
  color: #7B8475;
}

h4 {
  font-family: 'Vollkorn', serif;
  font-weight: 300;
  font-size: 25px;
  color: #FFFFFF;
}

p {
  font-family: 'Vollkorn', serif;
  font-size: 16px;
  color: #FFFFFF;
}

nav {
  background: #9b1c17;
}

ul {
  width: auto;
  list-style-type: none;
  margin-top: 8px;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 2px;
  padding: 10px;
}

a {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  font-weight: 600;
  font-family: 'Vollkorn';
}

a:hover {
  color: #FFFFFF;
}

.navcontainer li {
 margin: 2px;
 padding: 10px;
}

.navcontainer a {
 text-decoration: none;
 font-weight: bold;
 font-style:normal;
 text-transform: inherit;
 color: white;
 font-weight: 600;
 font-size: 1em;
}

.navcontainer a:hover {
 color: #FFFFFF;
}

.container {
  border: 1px solid white;
  padding: 1rem;
  margin: 1rem auto;
  width: 90%;
  max-width: 625px;
  display: inline-block;
  box-sizing: border-box;
}

.flex-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 72px;
  text-align: center;
  justify-content: center;
}

.containers {
    border: 1px solid white;
    padding: 1rem;
    margin: 1rem auto;
    width: 90%;
    max-width: 625px;
    display: inline-block;
    box-sizing: border-box;
  }

@media (min-width: 850px) {

  .flex-container1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 72px;
    text-align: center;
    justify-content: center;
    border: 1px solid white;
    padding: 1rem;
    margin: 1rem auto;
    width: 90%;
    max-width: 400px;
    display: inline-block;
    box-sizing: border-box;
  }

  .imageGallery {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
  }

  .imageHolder {
    margin: 20px 0;
    font-family: "Vollkorn" sans-serif;
    color: #FFFFFF;
  }

  .imageHolder caption {
    margin: 10px 0;
  }

  img {
    width: 100%;
    max-width: 500px;
  }

  .button_holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .hideThisDiv {
    display: none;
  }

  .timer {
    margin-left: auto;
    margin-right: auto;
  }
